.movie-section {
    display: flex;
    margin-bottom: 20px;
    margin-left: 175px;
    margin-right: 175px;
}

.movie-section img {
    width: 900px;
    height: 600px;
}

.movie-title {
    margin-left: 20px;
}

.content-text {
    margin-left: 20px;
}

.video-player {
  width: 560px;
  height: 315px;
}

video {
  width: 100%;
  height: 100%;
}


.content-video {
    margin-bottom: 20px;
    margin-left: 175px;
    margin-right: 175px;
}