.content {
    margin: 20px;
}

.register-icon {
    margin-right: 10px;
}

.input-err-msg {
    color: red;
    margin-left: 10px;
    font-size: 15px;
    display: none;
}

.card-img-top {
    width: 100%;
    height: 500px; /* Замените эту высоту на желаемую */
    object-fit: cover;
}

.movie-detail{
    text-decoration: none;
    color: black;
}